In [348]:
import json
from dateutil.parser import parse
import pandas as pd
import numpy as np
import requests
import sys

#from parse_names import parseName, lookup
#from data_exceptions import missing_coordinates, location_rename, unknown_locations

In [349]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Setup Google Maps API Libraries

In [350]:
!pip install googlemaps
!pip install simplejson
!pip install --upgrade google-auth-oauthlib

Requirement already satisfied: googlemaps in /usr/local/lib/python3.7/dist-packages (4.6.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)
Requirement already satisfied: simplejson in /usr/local/lib/python3.7/dist-packages (3.17.6)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib) (1.3.1)
Requirement already satisfied: google-auth>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib) (1.35.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.0.0->google-auth-oauthlib) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.0.0->google-auth-oauthlib) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.0.0->google-auth-oauthlib) (4.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.0.0->google-auth-oauthlib) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.0.0->google-auth-oauthlib) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.0.0->google-auth-oauthlib) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.2.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (2021.10.8)

### Helper Google Maps API Functions

In [351]:
# def get_biking_trip_distance(origin, destination):
#     API_key = 'AIzaSyA-shShYDGCru-WAkYtsQMfwQh8s6UCsmM'
#     gmaps = googlemaps.Client(key=API_key)
#     df_distance_info = pd.DataFrame(columns=['Origin Address', 'Destination Address',
#                                          'Duration (s)', 'Distance (m)'])
#     result = gmaps.distance_matrix(origin, destination, mode='bicycling')
#     trip_duration = result["rows"][0]["elements"][0]["duration"]["value"] 
#     trip_distance = result["rows"][0]["elements"][0]["distance"]["value"] 
#     origin_address = result['origin_addresses'][0]
#     destination_address = result['destination_addresses'][0]
#     df_distance_info = df_distance_info.append(
#         {
#             'Origin Address': origin_address, 
#             'Destination Address': destination_address,
#             'Duration (s)': trip_duration,
#             'Distance (m)': trip_distance
#         },
#         ignore_index=True
#     )
#     return df_distance_info
def get_biking_trip_distance(origin, destination):
    API_key = 'AIzaSyA-shShYDGCru-WAkYtsQMfwQh8s6UCsmM'
    gmaps = googlemaps.Client(key=API_key)
    result = gmaps.distance_matrix(origin, destination, mode='bicycling')
    trip_duration = result["rows"][0]["elements"][0]["duration"]["value"] 
    trip_distance = result["rows"][0]["elements"][0]["distance"]["value"] 
    origin_address = result['origin_addresses'][0]
    destination_address = result['destination_addresses'][0]
    return {
            'Origin Address': origin_address, 
            'Destination Address': destination_address,
            'Duration (s)': trip_duration,
            'Distance (m)': trip_distance
    }

In [352]:
import googlemaps 
API_key = 'AIzaSyA-shShYDGCru-WAkYtsQMfwQh8s6UCsmM'   #enter the key you got from Google. I removed mine here

gmaps = googlemaps.Client(key=API_key)

origin = (43.639832,	-79.395954)
destinations = [
  (43.639832,	-79.395954),
  (43.664964,	-79.383550)
]

actual_duration = []
actual_distance = []
df_distance_info = pd.DataFrame(columns=['Origin Address', 'Destination Address',
                                         'Duration (s)', 'Distance (m)'])

for destination in destinations:
    df_distance = get_biking_trip_distance(origin, destination)
    df_distance_info = df_distance_info.append(pd.Series(df_distance), ignore_index=True)
df_distance_info

,Origin Address,Destination Address,Duration (s),Distance (m)
0,"Fort York Blvd / Capreol Ct, Toronto, ON M5V 4...","Fort York Blvd / Capreol Ct, Toronto, ON M5V 4...",0,0
1,"Fort York Blvd / Capreol Ct, Toronto, ON M5V 4...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",1113,4343

## Load Station Information

In [353]:
# url='https://raw.githubusercontent.com/jsqzhu/BikeShareTO-ActiveAI/577c32a02352894108c1d48dbafa36733fb44478/Raw_Data/station_information.json'
# json file: https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information
url='https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information'
resp = requests.get(url)
station_info = json.loads(resp.text)

In [354]:
df_station_info = pd.json_normalize(station_info, record_path=['data','stations'])

In [355]:
df_station_info.head()

,station_id,name,physical_configuration,lat,lon,altitude,address,capacity,rental_methods,groups,obcn,nearby_distance,post_code,cross_street
0,7000,Fort York Blvd / Capreol Ct,REGULAR,43.639832,-79.395954,0.0,Fort York Blvd / Capreol Ct,35,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],647-643-9607,500.0,NaN,NaN
1,7001,Wellesley Station Green P,REGULAR,43.664964,-79.383550,0.0,Yonge / Wellesley,17,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],416-617-9576,500.0,M4Y 1G7,NaN
2,7002,St. George St / Bloor St W,REGULAR,43.667333,-79.399429,0.0,St. George St / Bloor St W,19,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],647-643-9615,500.0,NaN,NaN
3,7003,Madison Ave / Bloor St W,REGULAR,43.667158,-79.402761,NaN,Madison Ave / Bloor St W,15,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[],647-631-4587,500.0,NaN,NaN
4,7004,University Ave / Elm St,REGULAR,43.656518,-79.389099,NaN,University Ave / Elm St,11,"[KEY, TRANSITCARD, CREDITCARD, PHONE]",[P7004-7047],647-643-9673,500.0,NaN,NaN

In [356]:
df_station_info = df_station_info.convert_dtypes()
df_station_info = df_station_info.astype({"station_id": int})

## Load Trip Information

In [357]:
url_trip_info = 'https://github.com/jsqzhu/BikeShareTO-ActiveAI/raw/577c32a02352894108c1d48dbafa36733fb44478/Raw_Data/combined-data.csv'
df_trip_info = pd.read_csv(url_trip_info,
                           encoding="ISO-8859-1")

In [358]:
df_trip_info = df_trip_info.dropna().convert_dtypes()
df_trip_info.dtypes

Trip Id                Int64
Trip  Duration         Int64
Start Station Id       Int64
Start Time            string
Start Station Name    string
End Station Id         Int64
End Time              string
End Station Name      string
Bike Id                Int64
User Type             string
dtype: object

### Filter out trips with unique start/end stations

To calculate the distance we filter out any trips where the start and end station is the same

In [359]:
df_trip_info_clean = df_trip_info[df_trip_info['Start Station Id'] != df_trip_info['End Station Id']]
df_trip_info_clean

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,7334128,648,7003,20-01-01 0:08,Madison Ave / Bloor St W,7271,20-01-01 0:19,Yonge St / Alexander St - SMART,3104,Annual Member
1,7334129,419,7007,20-01-01 0:10,College St / Huron St,7163,20-01-01 0:17,Yonge St / Wood St,2126,Annual Member
2,7334130,566,7113,20-01-01 0:13,Parliament St / Aberdeen Ave,7108,20-01-01 0:22,Front St E / Cherry St,4425,Annual Member
3,7334131,1274,7333,20-01-01 0:17,King St E / Victoria St,7311,20-01-01 0:38,Sherbourne St / Isabella St,4233,Annual Member
4,7334132,906,7009,20-01-01 0:19,King St E / Jarvis St,7004,20-01-01 0:34,University Ave / Elm St,2341,Casual Member
...,...,...,...,...,...,...,...,...,...,...
1048568,8530981,1050,7175,20-07-07 19:42,HTO Park (Queens Quay W),7171,20-07-07 20:00,Ontario Place Blvd / Lake Shore Blvd W (East),496,Annual Member
1048570,8530983,340,7089,20-07-07 19:42,Church St / Wood St,7114,20-07-07 19:48,Carlton St / Parliament St,3272,Annual Member
1048571,8530985,477,7329,20-07-07 19:42,Crawford St / Queen St W,7037,20-07-07 19:50,Bathurst St / Dundas St W,4306,Casual Member
1048572,8530986,1175,7383,20-07-07 19:42,12 Harbour St,7569,20-07-07 20:02,Toronto Inukshuk Park,1187,Casual Member
1048574,8530988,1035,7357,20-07-07 19:42,Lake Shore Blvd E / Leslie St,7506,20-07-07 20:00,Berkeley St / Adelaide St E - SMART,4024,Annual Member

In [360]:
df_unique_trips = df_trip_info_clean.groupby(['Start Station Id', 'End Station Id']).count().reset_index()[['Start Station Id', 'End Station Id']]
df_unique_trips.describe()

       Start Station Id  End Station Id
count     116609.000000   116609.000000
mean        7244.259748     7243.085474
std          161.081464      161.019441
min         7000.000000     7000.000000
25%         7103.000000     7102.000000
50%         7235.000000     7233.000000
75%         7377.000000     7375.000000
max         7631.000000     7631.000000

**Optional** If we want to filter unique station pairs - assuming that trip duration and distance would be same in both directions

In [361]:
# df_unique_trips = pd.DataFrame({'Start Station Id':df_unique_trips[['Start Station Id','End Station Id']].min(axis=1),
#                                           'End Station Id':df_unique_trips[['Start Station Id','End Station Id']].max(axis=1)})
# df_unique_trips = df_unique_trips.groupby(['Start Station Id', 'End Station Id']).count().reset_index().sort()
# df_unique_trips

#### Use station info to get coordinates for each station

In [362]:
df_unique_trips_with_coords = pd.merge(
                                    left=pd.merge(left=df_unique_trips, 
                                       right=df_station_info[['station_id','lat','lon']], 
                                       left_on='Start Station Id', right_on='station_id'),
                                    right=df_station_info[['station_id','lat','lon']], 
                                       left_on='End Station Id', right_on='station_id', 
                                       suffixes=('_orig','_dest'),
                                    how='outer')

In [363]:
df_unique_trips_with_coords

,Start Station Id,End Station Id,station_id_orig,lat_orig,lon_orig,station_id_dest,lat_dest,lon_dest
0,7000.0,7001.0,7000.0,43.639832,-79.395954,7001.0,43.664964,-79.38355
1,7002.0,7001.0,7002.0,43.667333,-79.399429,7001.0,43.664964,-79.38355
2,7005.0,7001.0,7005.0,43.648001,-79.383177,7001.0,43.664964,-79.38355
3,7006.0,7001.0,7006.0,43.660439,-79.385525,7001.0,43.664964,-79.38355
4,7009.0,7001.0,7009.0,43.650325,-79.372287,7001.0,43.664964,-79.38355
...,...,...,...,...,...,...,...,...
114163,NaN,NaN,NaN,<NA>,<NA>,7687.0,43.660202,-79.434273
114164,NaN,NaN,NaN,<NA>,<NA>,7688.0,43.644887,-79.456412
114165,NaN,NaN,NaN,<NA>,<NA>,7689.0,43.680012,-79.344033
114166,NaN,NaN,NaN,<NA>,<NA>,7690.0,43.654078,-79.340856
114167,NaN,NaN,NaN,<NA>,<NA>,7691.0,43.671656,-79.420727

### Filter out stations without coordinate info

The following list of station trip pairs are missing coordinate info for either the start or end station. Leaving them here for readability

In [364]:
df_unique_trips_missing_coords = df_unique_trips_with_coords[(df_unique_trips_with_coords['station_id_dest'].isna()) |
                            (df_unique_trips_with_coords['station_id_orig'].isna())].groupby(['Start Station Id', 'End Station Id']).count().reset_index()[['Start Station Id', 'End Station Id']]
df_unique_trips_missing_coords

      Start Station Id  End Station Id
0               7000.0          7051.0
1               7000.0          7254.0
2               7000.0          7358.0
3               7000.0          7402.0
4               7000.0          7470.0
...                ...             ...
2357            7599.0          7510.0
2358            7600.0          7470.0
2359            7603.0          7573.0
2360            7618.0          7456.0
2361            7618.0          7481.0

[2362 rows x 2 columns]

In [365]:
df_unique_trips_with_coords_clean = df_unique_trips_with_coords[(df_unique_trips_with_coords['station_id_dest'].isna()==False) &
                            (df_unique_trips_with_coords['station_id_orig'].isna()==False)]
df_unique_trips_with_coords_clean

,Start Station Id,End Station Id,station_id_orig,lat_orig,lon_orig,station_id_dest,lat_dest,lon_dest
0,7000.0,7001.0,7000.0,43.639832,-79.395954,7001.0,43.664964,-79.38355
1,7002.0,7001.0,7002.0,43.667333,-79.399429,7001.0,43.664964,-79.38355
2,7005.0,7001.0,7005.0,43.648001,-79.383177,7001.0,43.664964,-79.38355
3,7006.0,7001.0,7006.0,43.660439,-79.385525,7001.0,43.664964,-79.38355
4,7009.0,7001.0,7009.0,43.650325,-79.372287,7001.0,43.664964,-79.38355
...,...,...,...,...,...,...,...,...
114105,7614.0,7626.0,7614.0,43.779353,-79.193023,7626.0,43.78055,-79.13012
114106,7615.0,7626.0,7615.0,43.777711,-79.165971,7626.0,43.78055,-79.13012
114107,7617.0,7626.0,7617.0,43.788319,-79.123505,7626.0,43.78055,-79.13012
114108,7625.0,7617.0,7625.0,43.725467,-79.401154,7617.0,43.788319,-79.123505
114109,7626.0,7617.0,7626.0,43.78055,-79.13012,7617.0,43.788319,-79.123505

In [367]:
df_unique_trips_with_coords_clean['orig_coords'] = list(zip(df_unique_trips_with_coords_clean.lat_orig, df_unique_trips_with_coords_clean.lon_orig))
df_unique_trips_with_coords_clean['dest_coords'] = list(zip(df_unique_trips_with_coords_clean.lat_dest, df_unique_trips_with_coords_clean.lon_dest))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [368]:
df_unique_trips_with_coords.head(4)

,Start Station Id,End Station Id,station_id_orig,lat_orig,lon_orig,station_id_dest,lat_dest,lon_dest
0,7000.0,7001.0,7000.0,43.639832,-79.395954,7001.0,43.664964,-79.38355
1,7002.0,7001.0,7002.0,43.667333,-79.399429,7001.0,43.664964,-79.38355
2,7005.0,7001.0,7005.0,43.648001,-79.383177,7001.0,43.664964,-79.38355
3,7006.0,7001.0,7006.0,43.660439,-79.385525,7001.0,43.664964,-79.38355

## Get Trip Duration and Distance

### Split the trips dataset

Splitting the trips dataset into smaller chunks so we can loop through and use `googlemaps` to get the distance and duration for each.

In [292]:
def get_biking_trip_distance_for_df(df):
  return df.apply(lambda row: pd.Series(get_biking_trip_distance(row['orig_coords'],row['dest_coords'])), axis=1)

In [293]:
size = 100
df_unique_trips_with_coords_partitions = [df_unique_trips_with_coords_clean.loc[i:i+size-1,:] for i in range(0, len(df_unique_trips_with_coords_clean),size)]

### Use Google Maps API for Distance & Duration

For each section of the dataset call the Google Maps API to get the biking distance and duration in metres and seconds respectively

In [267]:
df_trip_distances = []
for i in range(0, len(df_unique_trips_with_coords_partitions),1):
  df_trip_distances.append(get_biking_trip_distance_for_df(df_unique_trips_with_coords_partitions[i]))
  print("Done with section ", i)

Done with section  0
Done with section  1
Done with section  2
Done with section  3
Done with section  4
Done with section  5
Done with section  6
Done with section  7
Done with section  8
Done with section  9
Done with section  10
Done with section  11
Done with section  12
Done with section  13
Done with section  14
Done with section  15
Done with section  16
Done with section  17
Done with section  18
Done with section  19
Done with section  20
Done with section  21
Done with section  22
Done with section  23
Done with section  24
Done with section  25
Done with section  26
Done with section  27
Done with section  28
Done with section  29
Done with section  30
Done with section  31
Done with section  32
Done with section  33
Done with section  34
Done with section  35
Done with section  36
Done with section  37
Done with section  38
Done with section  39
Done with section  40
Done with section  41
Done with section  42
Done with section  43
Done with section  44
Done with section  45
Done with section  46
Done with section  47
Done with section  48
Done with section  49
Done with section  50
Done with section  51
Done with section  52
Done with section  53
Done with section  54
Done with section  55
Done with section  56
Done with section  57
Done with section  58
Done with section  59
Done with section  60
Done with section  61
Done with section  62
Done with section  63
Done with section  64
Done with section  65
Done with section  66
Done with section  67
Done with section  68
Done with section  69
Done with section  70
Done with section  71
Done with section  72
Done with section  73
Done with section  74
Done with section  75
Done with section  76
Done with section  77
Done with section  78
Done with section  79
Done with section  80
Done with section  81
Done with section  82
Done with section  83
Done with section  84
Done with section  85
Done with section  86
Done with section  87
Done with section  88
Done with section  89
Done with section  90
Done with section  91
Done with section  92
Done with section  93
Done with section  94
Done with section  95
Done with section  96
Done with section  97
Done with section  98
Done with section  99
Done with section  100
Done with section  101
Done with section  102
Done with section  103
Done with section  104
Done with section  105
Done with section  106
Done with section  107
Done with section  108
Done with section  109
Done with section  110
Done with section  111
Done with section  112
Done with section  113
Done with section  114
Done with section  115
Done with section  116
Done with section  117
Done with section  118
Done with section  119
Done with section  120
Done with section  121
Done with section  122
Done with section  123
Done with section  124
Done with section  125
Done with section  126
Done with section  127
Done with section  128
Done with section  129
Done with section  130
Done with section  131
Done with section  132
Done with section  133
Done with section  134
Done with section  135
Done with section  136
Done with section  137
Done with section  138
Done with section  139
Done with section  140
Done with section  141
Done with section  142
Done with section  143
Done with section  144
Done with section  145
Done with section  146
Done with section  147
Done with section  148
Done with section  149
Done with section  150
Done with section  151
Done with section  152
Done with section  153
Done with section  154
Done with section  155
Done with section  156
Done with section  157
Done with section  158
Done with section  159
Done with section  160
Done with section  161
Done with section  162
Done with section  163
Done with section  164
Done with section  165
Done with section  166
Done with section  167
Done with section  168
Done with section  169
Done with section  170
Done with section  171
Done with section  172
Done with section  173
Done with section  174
Done with section  175
Done with section  176
Done with section  177
Done with section  178
Done with section  179
Done with section  180
Done with section  181
Done with section  182
Done with section  183
Done with section  184
Done with section  185
Done with section  186
Done with section  187
Done with section  188
Done with section  189
Done with section  190
Done with section  191
Done with section  192
Done with section  193
Done with section  194
Done with section  195
Done with section  196
Done with section  197
Done with section  198
Done with section  199
Done with section  200
Done with section  201
Done with section  202
Done with section  203
Done with section  204
Done with section  205
Done with section  206
Done with section  207
Done with section  208
Done with section  209
Done with section  210
Done with section  211
Done with section  212
Done with section  213
Done with section  214
Done with section  215
Done with section  216
Done with section  217
Done with section  218
Done with section  219
Done with section  220
Done with section  221
Done with section  222
Done with section  223
Done with section  224
Done with section  225
Done with section  226
Done with section  227
Done with section  228
Done with section  229
Done with section  230
Done with section  231
Done with section  232
Done with section  233
Done with section  234
Done with section  235
Done with section  236
Done with section  237
Done with section  238
Done with section  239
Done with section  240
Done with section  241
Done with section  242
Done with section  243
Done with section  244
Done with section  245
Done with section  246
Done with section  247
Done with section  248
Done with section  249
Done with section  250
Done with section  251
Done with section  252
Done with section  253
Done with section  254
Done with section  255
Done with section  256
Done with section  257
Done with section  258
Done with section  259
Done with section  260
Done with section  261
Done with section  262
Done with section  263
Done with section  264
Done with section  265
Done with section  266
Done with section  267
Done with section  268
Done with section  269
Done with section  270
Done with section  271
Done with section  272
Done with section  273
Done with section  274
Done with section  275
Done with section  276
Done with section  277
Done with section  278
Done with section  279
Done with section  280
Done with section  281
Done with section  282
Done with section  283
Done with section  284
Done with section  285
Done with section  286
Done with section  287
Done with section  288
Done with section  289
Done with section  290
Done with section  291
Done with section  292
Done with section  293
Done with section  294
Done with section  295
Done with section  296
Done with section  297
Done with section  298
Done with section  299
Done with section  300
Done with section  301
Done with section  302
Done with section  303
Done with section  304
Done with section  305
Done with section  306
Done with section  307
Done with section  308
Done with section  309
Done with section  310
Done with section  311
Done with section  312
Done with section  313
Done with section  314
Done with section  315
Done with section  316
Done with section  317
Done with section  318
Done with section  319
Done with section  320
Done with section  321
Done with section  322
Done with section  323
Done with section  324
Done with section  325
Done with section  326
Done with section  327
Done with section  328
Done with section  329
Done with section  330
Done with section  331
Done with section  332
Done with section  333
Done with section  334
Done with section  335
Done with section  336
Done with section  337
Done with section  338
Done with section  339
Done with section  340
Done with section  341
Done with section  342
Done with section  343
Done with section  344
Done with section  345
Done with section  346
Done with section  347
Done with section  348
Done with section  349
Done with section  350
Done with section  351
Done with section  352
Done with section  353
Done with section  354
Done with section  355
Done with section  356
Done with section  357
Done with section  358
Done with section  359
Done with section  360
Done with section  361
Done with section  362
Done with section  363
Done with section  364
Done with section  365
Done with section  366
Done with section  367
Done with section  368
Done with section  369
Done with section  370
Done with section  371
Done with section  372
Done with section  373
Done with section  374
Done with section  375
Done with section  376
Done with section  377
Done with section  378
Done with section  379
Done with section  380
Done with section  381
Done with section  382
Done with section  383
Done with section  384
Done with section  385
Done with section  386
Done with section  387
Done with section  388
Done with section  389
Done with section  390
Done with section  391
Done with section  392
Done with section  393
Done with section  394
Done with section  395
Done with section  396
Done with section  397
Done with section  398
Done with section  399
Done with section  400
Done with section  401
Done with section  402
Done with section  403
Done with section  404
Done with section  405
Done with section  406
Done with section  407
Done with section  408
Done with section  409
Done with section  410
Done with section  411
Done with section  412
Done with section  413
Done with section  414
Done with section  415
Done with section  416
Done with section  417
Done with section  418
Done with section  419
Done with section  420
Done with section  421
Done with section  422
Done with section  423
Done with section  424
Done with section  425
Done with section  426
Done with section  427
Done with section  428
Done with section  429
Done with section  430
Done with section  431
Done with section  432
Done with section  433
Done with section  434
Done with section  435
Done with section  436
Done with section  437
Done with section  438
Done with section  439
Done with section  440
Done with section  441
Done with section  442
Done with section  443
Done with section  444
Done with section  445
Done with section  446
Done with section  447
Done with section  448
Done with section  449
Done with section  450
Done with section  451
Done with section  452
Done with section  453
Done with section  454
Done with section  455
Done with section  456
Done with section  457
Done with section  458
Done with section  459
Done with section  460
Done with section  461
Done with section  462
Done with section  463
Done with section  464
Done with section  465
Done with section  466
Done with section  467
Done with section  468
Done with section  469
Done with section  470
Done with section  471
Done with section  472
Done with section  473
Done with section  474
Done with section  475
Done with section  476
Done with section  477
Done with section  478
Done with section  479
Done with section  480
Done with section  481
Done with section  482
Done with section  483
Done with section  484
Done with section  485
Done with section  486
Done with section  487
Done with section  488
Done with section  489
Done with section  490
Done with section  491
Done with section  492
Done with section  493
Done with section  494
Done with section  495
Done with section  496
Done with section  497
Done with section  498
Done with section  499
Done with section  500
Done with section  501
Done with section  502
Done with section  503
Done with section  504
Done with section  505
Done with section  506
Done with section  507
Done with section  508
Done with section  509
Done with section  510
Done with section  511
Done with section  512
Done with section  513
Done with section  514
Done with section  515
Done with section  516
Done with section  517
Done with section  518
Done with section  519
Done with section  520
Done with section  521
Done with section  522
Done with section  523
Done with section  524
Done with section  525
Done with section  526
Done with section  527
Done with section  528
Done with section  529
Done with section  530
Done with section  531
Done with section  532
Done with section  533
Done with section  534
Done with section  535
Done with section  536
Done with section  537
Done with section  538
Done with section  539
Done with section  540
Done with section  541
Done with section  542
Done with section  543
Done with section  544
Done with section  545
Done with section  546
Done with section  547
Done with section  548
Done with section  549
Done with section  550
Done with section  551
Done with section  552
Done with section  553
Done with section  554
Done with section  555
Done with section  556
Done with section  557
Done with section  558
Done with section  559
Done with section  560
Done with section  561
Done with section  562
Done with section  563
Done with section  564
Done with section  565
Done with section  566
Done with section  567
Done with section  568
Done with section  569
Done with section  570
Done with section  571
Done with section  572
Done with section  573
Done with section  574
Done with section  575
Done with section  576
Done with section  577
Done with section  578
Done with section  579
Done with section  580
Done with section  581
Done with section  582
Done with section  583
Done with section  584
Done with section  585
Done with section  586
Done with section  587
Done with section  588
Done with section  589
Done with section  590
Done with section  591
Done with section  592
Done with section  593
Done with section  594
Done with section  595
Done with section  596
Done with section  597
Done with section  598
Done with section  599
Done with section  600
Done with section  601
Done with section  602
Done with section  603
Done with section  604
Done with section  605
Done with section  606
Done with section  607
Done with section  608
Done with section  609
Done with section  610
Done with section  611
Done with section  612
Done with section  613
Done with section  614
Done with section  615
Done with section  616
Done with section  617
Done with section  618
Done with section  619
Done with section  620
Done with section  621
Done with section  622
Done with section  623
Done with section  624
Done with section  625
Done with section  626
Done with section  627
Done with section  628
Done with section  629
Done with section  630
Done with section  631
Done with section  632
Done with section  633
Done with section  634
Done with section  635
Done with section  636
Done with section  637
Done with section  638
Done with section  639
Done with section  640
Done with section  641
Done with section  642
Done with section  643
Done with section  644
Done with section  645
Done with section  646
Done with section  647
Done with section  648
Done with section  649
Done with section  650
Done with section  651
Done with section  652
Done with section  653
Done with section  654
Done with section  655
Done with section  656
Done with section  657
Done with section  658
Done with section  659
Done with section  660
Done with section  661
Done with section  662
Done with section  663
Done with section  664
Done with section  665
Done with section  666
Done with section  667
Done with section  668
Done with section  669
Done with section  670
Done with section  671
Done with section  672
Done with section  673
Done with section  674
Done with section  675
Done with section  676
Done with section  677
Done with section  678
Done with section  679
Done with section  680
Done with section  681
Done with section  682
Done with section  683
Done with section  684
Done with section  685
Done with section  686
Done with section  687
Done with section  688
Done with section  689
Done with section  690
Done with section  691
Done with section  692
Done with section  693
Done with section  694
Done with section  695
Done with section  696
Done with section  697
Done with section  698
Done with section  699
Done with section  700
Done with section  701
Done with section  702
Done with section  703
Done with section  704
Done with section  705
Done with section  706
Done with section  707
Done with section  708
Done with section  709
Done with section  710
Done with section  711
Done with section  712
Done with section  713
Done with section  714
Done with section  715
Done with section  716
Done with section  717
Done with section  718
Done with section  719
Done with section  720
Done with section  721
Done with section  722
Done with section  723
Done with section  724
Done with section  725
Done with section  726
Done with section  727
Done with section  728
Done with section  729
Done with section  730
Done with section  731
Done with section  732
Done with section  733
Done with section  734
Done with section  735
Done with section  736
Done with section  737
Done with section  738
Done with section  739
Done with section  740
Done with section  741
Done with section  742
Done with section  743
Done with section  744
Done with section  745
Done with section  746
Done with section  747
Done with section  748
Done with section  749
Done with section  750
Done with section  751
Done with section  752
Done with section  753
Done with section  754
Done with section  755
Done with section  756
Done with section  757
Done with section  758
Done with section  759
Done with section  760
Done with section  761
Done with section  762
Done with section  763
Done with section  764
Done with section  765
Done with section  766
Done with section  767
Done with section  768
Done with section  769
Done with section  770
Done with section  771
Done with section  772
Done with section  773
Done with section  774
Done with section  775
Done with section  776
Done with section  777
Done with section  778
Done with section  779
Done with section  780
Done with section  781
Done with section  782
Done with section  783
Done with section  784
Done with section  785
Done with section  786
Done with section  787
Done with section  788
Done with section  789
Done with section  790
Done with section  791
Done with section  792
Done with section  793
Done with section  794
Done with section  795
Done with section  796
Done with section  797
Done with section  798
Done with section  799
Done with section  800
Done with section  801
Done with section  802
Done with section  803
Done with section  804
Done with section  805
Done with section  806
Done with section  807
Done with section  808
Done with section  809
Done with section  810
Done with section  811
Done with section  812
Done with section  813
Done with section  814
Done with section  815
Done with section  816
Done with section  817
Done with section  818
Done with section  819
Done with section  820
Done with section  821
Done with section  822
Done with section  823
Done with section  824
Done with section  825
Done with section  826
Done with section  827
Done with section  828
Done with section  829
Done with section  830
Done with section  831
Done with section  832
Done with section  833
Done with section  834
Done with section  835
Done with section  836
Done with section  837
Done with section  838
Done with section  839
Done with section  840
Done with section  841
Done with section  842
Done with section  843
Done with section  844
Done with section  845
Done with section  846
Done with section  847
Done with section  848
Done with section  849
Done with section  850
Done with section  851
Done with section  852
Done with section  853
Done with section  854
Done with section  855
Done with section  856
Done with section  857
Done with section  858
Done with section  859
Done with section  860
Done with section  861
Done with section  862
Done with section  863
Done with section  864
Done with section  865
Done with section  866
Done with section  867
Done with section  868
Done with section  869
Done with section  870
Done with section  871
Done with section  872
Done with section  873

### Save Duration, Distance Information

In [271]:
calculated_trip_duration_distance = '/content/drive/MyDrive/School/Data Science Certificate/Machine Learning/Project/data/combined_trip_data_with_distance.csv'

In [268]:
pd.concat(df_trip_distances).to_csv(calculated_trip_duration_distance)

In [270]:
pd.concat(df_trip_distances)

,Origin Address,Destination Address,Duration (s),Distance (m)
0,"Fort York Blvd / Capreol Ct, Toronto, ON M5V 4...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",1113,4343
1,"St. George St / Bloor St W, Toronto, ON M5S 1S...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",482,1945
2,"King St W / York St, Toronto, ON M5X 2A2, Canada","Wellesley Station Green P, Toronto, ON M4Y 1G3...",690,2330
3,"Bay St / College St (East Side), Toronto, ON M...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",257,958
4,"King St E / Jarvis St, Toronto, ON M5C 1G7, Ca...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",666,2355
...,...,...,...,...
111743,"Unnamed Road, Scarborough, ON M1E, Canada","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",1530,7346
111744,"325 Beechgrove Dr, Scarborough, ON M1E 4A2, Ca...","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",923,4512
111745,"Starspray Ave / Lawrence Ave E, Scarborough, O...","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",237,1239
111746,"Yonge St / Lawrence Ave, Toronto, ON M4N 1S1, ...","Starspray Ave / Lawrence Ave E, Scarborough, O...",5094,25038
111747,"Rouge Hill GO Station, Scarborough, ON M1C 5G4...","Starspray Ave / Lawrence Ave E, Scarborough, O...",236,1239

In [273]:
df_calculated_trip_duration_distance = pd.read_csv(calculated_trip_duration_distance, index_col = 0)
df_calculated_trip_duration_distance

,Origin Address,Destination Address,Duration (s),Distance (m)
0,"Fort York Blvd / Capreol Ct, Toronto, ON M5V 4...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",1113,4343
1,"St. George St / Bloor St W, Toronto, ON M5S 1S...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",482,1945
2,"King St W / York St, Toronto, ON M5X 2A2, Canada","Wellesley Station Green P, Toronto, ON M4Y 1G3...",690,2330
3,"Bay St / College St (East Side), Toronto, ON M...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",257,958
4,"King St E / Jarvis St, Toronto, ON M5C 1G7, Ca...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",666,2355
...,...,...,...,...
111743,"Unnamed Road, Scarborough, ON M1E, Canada","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",1530,7346
111744,"325 Beechgrove Dr, Scarborough, ON M1E 4A2, Ca...","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",923,4512
111745,"Starspray Ave / Lawrence Ave E, Scarborough, O...","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",237,1239
111746,"Yonge St / Lawrence Ave, Toronto, ON M4N 1S1, ...","Starspray Ave / Lawrence Ave E, Scarborough, O...",5094,25038
111747,"Rouge Hill GO Station, Scarborough, ON M1C 5G4...","Starspray Ave / Lawrence Ave E, Scarborough, O...",236,1239

In [294]:
df_unique_trips_with_coords

,Start Station Id,End Station Id,station_id_orig,lat_orig,lon_orig,station_id_dest,lat_dest,lon_dest,orig_coords,dest_coords
0,7000,7001,7000,43.639832,-79.395954,7001,43.664964,-79.38355,"(43.639832, -79.395954)","(43.66496415990742, -79.38355031526893)"
1,7002,7001,7002,43.667333,-79.399429,7001,43.664964,-79.38355,"(43.667333, -79.399429)","(43.66496415990742, -79.38355031526893)"
2,7005,7001,7005,43.648001,-79.383177,7001,43.664964,-79.38355,"(43.6480008, -79.383177)","(43.66496415990742, -79.38355031526893)"
3,7006,7001,7006,43.660439,-79.385525,7001,43.664964,-79.38355,"(43.660439, -79.385525)","(43.66496415990742, -79.38355031526893)"
4,7009,7001,7009,43.650325,-79.372287,7001,43.664964,-79.38355,"(43.650325, -79.372287)","(43.66496415990742, -79.38355031526893)"
...,...,...,...,...,...,...,...,...,...,...
111743,7614,7626,7614,43.779353,-79.193023,7626,43.78055,-79.13012,"(43.779353, -79.193023)","(43.7805505, -79.1301203)"
111744,7615,7626,7615,43.777711,-79.165971,7626,43.78055,-79.13012,"(43.7777114, -79.1659711)","(43.7805505, -79.1301203)"
111745,7617,7626,7617,43.788319,-79.123505,7626,43.78055,-79.13012,"(43.788319, -79.123505)","(43.7805505, -79.1301203)"
111746,7625,7617,7625,43.725467,-79.401154,7617,43.788319,-79.123505,"(43.7254665, -79.40115449999999)","(43.788319, -79.123505)"
111747,7626,7617,7626,43.78055,-79.13012,7617,43.788319,-79.123505,"(43.7805505, -79.1301203)","(43.788319, -79.123505)"

### Combine Duration, Distance Info with Station Info

In [295]:
df_combined_unique_trip_duration_distance = pd.concat([df_unique_trips_with_coords, df_calculated_trip_duration_distance], axis=1)
df_combined_unique_trip_duration_distance

,Start Station Id,End Station Id,station_id_orig,lat_orig,lon_orig,station_id_dest,lat_dest,lon_dest,orig_coords,dest_coords,Origin Address,Destination Address,Duration (s),Distance (m)
0,7000,7001,7000,43.639832,-79.395954,7001,43.664964,-79.38355,"(43.639832, -79.395954)","(43.66496415990742, -79.38355031526893)","Fort York Blvd / Capreol Ct, Toronto, ON M5V 4...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",1113,4343
1,7002,7001,7002,43.667333,-79.399429,7001,43.664964,-79.38355,"(43.667333, -79.399429)","(43.66496415990742, -79.38355031526893)","St. George St / Bloor St W, Toronto, ON M5S 1S...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",482,1945
2,7005,7001,7005,43.648001,-79.383177,7001,43.664964,-79.38355,"(43.6480008, -79.383177)","(43.66496415990742, -79.38355031526893)","King St W / York St, Toronto, ON M5X 2A2, Canada","Wellesley Station Green P, Toronto, ON M4Y 1G3...",690,2330
3,7006,7001,7006,43.660439,-79.385525,7001,43.664964,-79.38355,"(43.660439, -79.385525)","(43.66496415990742, -79.38355031526893)","Bay St / College St (East Side), Toronto, ON M...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",257,958
4,7009,7001,7009,43.650325,-79.372287,7001,43.664964,-79.38355,"(43.650325, -79.372287)","(43.66496415990742, -79.38355031526893)","King St E / Jarvis St, Toronto, ON M5C 1G7, Ca...","Wellesley Station Green P, Toronto, ON M4Y 1G3...",666,2355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111743,7614,7626,7614,43.779353,-79.193023,7626,43.78055,-79.13012,"(43.779353, -79.193023)","(43.7805505, -79.1301203)","Unnamed Road, Scarborough, ON M1E, Canada","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",1530,7346
111744,7615,7626,7615,43.777711,-79.165971,7626,43.78055,-79.13012,"(43.7777114, -79.1659711)","(43.7805505, -79.1301203)","325 Beechgrove Dr, Scarborough, ON M1E 4A2, Ca...","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",923,4512
111745,7617,7626,7617,43.788319,-79.123505,7626,43.78055,-79.13012,"(43.788319, -79.123505)","(43.7805505, -79.1301203)","Starspray Ave / Lawrence Ave E, Scarborough, O...","Rouge Hill GO Station, Scarborough, ON M1C 5G4...",237,1239
111746,7625,7617,7625,43.725467,-79.401154,7617,43.788319,-79.123505,"(43.7254665, -79.40115449999999)","(43.788319, -79.123505)","Yonge St / Lawrence Ave, Toronto, ON M4N 1S1, ...","Starspray Ave / Lawrence Ave E, Scarborough, O...",5094,25038
111747,7626,7617,7626,43.78055,-79.13012,7617,43.788319,-79.123505,"(43.7805505, -79.1301203)","(43.788319, -79.123505)","Rouge Hill GO Station, Scarborough, ON M1C 5G4...","Starspray Ave / Lawrence Ave E, Scarborough, O...",236,1239

In [336]:
df_merged_trip_and_duration_distance = pd.merge(left = df_trip_info_clean,
                                                right = df_combined_unique_trip_duration_distance,
                                                left_on = ['Start Station Id', 'End Station Id'],
                                                right_on = ['Start Station Id', 'End Station Id'],
                                                how='inner'
                                                )
df_merged_trip_and_duration_distance

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,...,lon_orig,station_id_dest,lat_dest,lon_dest,orig_coords,dest_coords,Origin Address,Destination Address,Duration (s),Distance (m)
0,7334128,648,7003,20-01-01 0:08,Madison Ave / Bloor St W,7271,20-01-01 0:19,Yonge St / Alexander St - SMART,3104,Annual Member,...,-79.402761,7271,43.662862,-79.383572,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
1,7350985,799,7003,20-01-06 8:34,Madison Ave / Bloor St W,7271,20-01-06 8:47,Yonge St / Alexander St - SMART,4232,Annual Member,...,-79.402761,7271,43.662862,-79.383572,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
2,7405155,745,7003,20-01-20 9:12,Madison Ave / Bloor St W,7271,20-01-20 9:24,Yonge St / Alexander St - SMART,3465,Annual Member,...,-79.402761,7271,43.662862,-79.383572,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
3,7453581,689,7003,20-02-01 12:19,Madison Ave / Bloor St W,7271,20-02-01 12:31,Yonge St / Alexander St - SMART,4279,Annual Member,...,-79.402761,7271,43.662862,-79.383572,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
4,7471316,606,7003,20-02-05 14:52,Madison Ave / Bloor St W,7271,20-02-05 15:02,Yonge St / Alexander St - SMART,1645,Annual Member,...,-79.402761,7271,43.662862,-79.383572,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945164,8530940,4792,7280,20-07-07 19:40,Charles St E / Jarvis St - SMART,7440,20-07-07 21:00,Martin Goodman Trail / Ontario Dr,3575,Casual Member,...,-79.381171,7440,43.63121,-79.41414,"(43.669604, -79.381171)","(43.63121, -79.41414)","Charles St E / Jarvis St - SMART, Toronto, ON ...","Martin Goodman Trail / Ontario Dr, Toronto, ON...",1596,7017
945165,8530970,1557,7197,20-07-07 19:42,Queen St W / Dovercourt Rd,7525,20-07-07 20:08,Fennings St / Queen St W - SMART,5388,Casual Member,...,-79.422757,7525,43.643945,-79.421189,"(43.6438602, -79.4227573)","(43.643945, -79.421189)","Queen St W / Dovercourt Rd, Toronto, ON M6J 1H...","Fennings St / Queen St W, Toronto, ON M6J 1H8,...",21,137
945166,8530972,1019,7521,20-07-07 19:42,Emerson Ave / Bloor St W - SMART,7078,20-07-07 19:59,College St / Major St,5540,Casual Member,...,-79.44088,7078,43.6576,-79.4032,"(43.65904, -79.44088)","(43.6576, -79.4032)","Emerson Ave / Bloor St W, Toronto, ON M6H 1N8,...","College St / Major St, Toronto, ON M5T 3A9, Ca...",850,3854
945167,8530974,1006,7521,20-07-07 19:42,Emerson Ave / Bloor St W - SMART,7078,20-07-07 19:59,College St / Major St,5681,Casual Member,...,-79.44088,7078,43.6576,-79.4032,"(43.65904, -79.44088)","(43.6576, -79.4032)","Emerson Ave / Bloor St W, Toronto, ON M6H 1N8,...","College St / Major St, Toronto, ON M5T 3A9, Ca...",850,3854
945168,8530975,1025,7216,20-07-07 19:42,Wellington St W / Stafford St,7356,20-07-07 19:59,King St E / Ontario St.,4026,Annual Member,...,-79.409339,7356,43.651885,-79.3649,"(43.641281, -79.409339)","(43.651885, -79.3649)","Wellington St W / Stafford St, Toronto, ON M5V...","King St E / Ontario St., Toronto, ON M5A 1K4, ...",1039,3916

In [301]:
df_merged_trip_and_duration_distance.columns

Index(['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type', 'station_id_orig', 'lat_orig', 'lon_orig',
       'station_id_dest', 'lat_dest', 'lon_dest', 'orig_coords', 'dest_coords',
       'Origin Address', 'Destination Address', 'Duration (s)',
       'Distance (m)'],
      dtype='object')

In [370]:
df_final_trip_and_duration_distance_info = df_merged_trip_and_duration_distance[['Trip Id', 'Trip  Duration', 'Start Station Id', 'Start Time',
       'Start Station Name', 'End Station Id', 'End Time', 'End Station Name',
       'Bike Id', 'User Type', 'orig_coords', 'dest_coords',
       'Origin Address', 'Destination Address', 'Duration (s)',
       'Distance (m)']]
df_final_trip_and_duration_distance_info.rename(columns={'orig_coords': 'Start Station Coords',
                                                         'dest_coords': 'End Station Coords',
                                                         'Origin Address': 'Start Station Address',
                                                         'Destination Address': 'End Station Address',
                                                         'Duration (s)': 'Estimated Trip Duration (s)',
                                                         'Distance (m)': 'Estimated Trip Distance (m)'
                                                         })

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Start Station Coords,End Station Coords,Start Station Address,End Station Address,Estimated Trip Duration (s),Estimated Trip Distance (m)
0,7334128,648,7003,20-01-01 0:08,Madison Ave / Bloor St W,7271,20-01-01 0:19,Yonge St / Alexander St - SMART,3104,Annual Member,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
1,7350985,799,7003,20-01-06 8:34,Madison Ave / Bloor St W,7271,20-01-06 8:47,Yonge St / Alexander St - SMART,4232,Annual Member,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
2,7405155,745,7003,20-01-20 9:12,Madison Ave / Bloor St W,7271,20-01-20 9:24,Yonge St / Alexander St - SMART,3465,Annual Member,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
3,7453581,689,7003,20-02-01 12:19,Madison Ave / Bloor St W,7271,20-02-01 12:31,Yonge St / Alexander St - SMART,4279,Annual Member,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
4,7471316,606,7003,20-02-05 14:52,Madison Ave / Bloor St W,7271,20-02-05 15:02,Yonge St / Alexander St - SMART,1645,Annual Member,"(43.667158, -79.402761)","(43.662862, -79.383572)","Madison Ave / Bloor St W, Toronto, ON M5R 2S1,...","Yonge St / Alexander St - SMART, Toronto, ON M...",595,2312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945164,8530940,4792,7280,20-07-07 19:40,Charles St E / Jarvis St - SMART,7440,20-07-07 21:00,Martin Goodman Trail / Ontario Dr,3575,Casual Member,"(43.669604, -79.381171)","(43.63121, -79.41414)","Charles St E / Jarvis St - SMART, Toronto, ON ...","Martin Goodman Trail / Ontario Dr, Toronto, ON...",1596,7017
945165,8530970,1557,7197,20-07-07 19:42,Queen St W / Dovercourt Rd,7525,20-07-07 20:08,Fennings St / Queen St W - SMART,5388,Casual Member,"(43.6438602, -79.4227573)","(43.643945, -79.421189)","Queen St W / Dovercourt Rd, Toronto, ON M6J 1H...","Fennings St / Queen St W, Toronto, ON M6J 1H8,...",21,137
945166,8530972,1019,7521,20-07-07 19:42,Emerson Ave / Bloor St W - SMART,7078,20-07-07 19:59,College St / Major St,5540,Casual Member,"(43.65904, -79.44088)","(43.6576, -79.4032)","Emerson Ave / Bloor St W, Toronto, ON M6H 1N8,...","College St / Major St, Toronto, ON M5T 3A9, Ca...",850,3854
945167,8530974,1006,7521,20-07-07 19:42,Emerson Ave / Bloor St W - SMART,7078,20-07-07 19:59,College St / Major St,5681,Casual Member,"(43.65904, -79.44088)","(43.6576, -79.4032)","Emerson Ave / Bloor St W, Toronto, ON M6H 1N8,...","College St / Major St, Toronto, ON M5T 3A9, Ca...",850,3854
945168,8530975,1025,7216,20-07-07 19:42,Wellington St W / Stafford St,7356,20-07-07 19:59,King St E / Ontario St.,4026,Annual Member,"(43.641281, -79.409339)","(43.651885, -79.3649)","Wellington St W / Stafford St, Toronto, ON M5V...","King St E / Ontario St., Toronto, ON M5A 1K4, ...",1039,3916

## Save Final Trip Info With Duration & Distance

In [371]:
file_final_trip_and_duration_distance = '/content/drive/MyDrive/School/Data Science Certificate/Machine Learning/Project/data/final_trip_data_with_distance_duration.csv'
df_final_trip_and_duration_distance_info.to_csv(file_final_trip_and_duration_distance)